@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Jeremy Website</h1>
    <p>Displayed below will be a list of crafts</p>
</div>

<div class= "card-columns">
    @foreach (var product in Model.Products)
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@product.Image');"></div>
            <div class="card-body">
                <h5 class="card-body">@product.Title</h5>
            </div>
        </div>
    }
</div>