@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Jeremy Website</h1>
    <p>Displayed below will be a list of crafts</p>
</div>


@foreach (var product in Model.Products)
{
    <h2> @product.Title</h2>
}